@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
:root{
  --dark-color: hsl(0,0%,0%);
  --gray-color: hsl(0,0%,60%);
  --light-color: hsl(0,0%,100%);
  --border-color-dark: hsl(0deg 0% 60.79%);
  --border-color-normal: hsl(0deg 0% 99.47%);
  --border-color-light: hsl(0deg 0% 75.28%);
}
*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

.section_one_header {
  margin-bottom: 50px;
}

/* GLOBAL STYLES */
a{
  text-decoration: none;
  transition: .25s;
}

header{
  min-height: 100vh;
  border-bottom: 5px solid;
}

img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

p{
  color: black;
  hyphens: auto;
  line-height: 1.5;
  margin: 1em 0;
  font-size: 18px;
}

/* CONTAINERS STYLES */
.container{
  padding: 1em;
}
.flex-container{
  display: flex;
}

/* HEADER NAV */
.logo-link{
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
}
.header-nav{
  align-items: center;
  flex-direction: column;
}
.header-menu{
  flex-wrap: wrap;
  justify-content: center;  
  padding: .75em 0;
}
.header-menu-link{
  color: var(--dark-color);
  display: block;
  font-size: clamp(0.75rem, 0.5962rem + 0.5181vw, 1.0625rem);
  font-weight: 500;
  
  text-transform: uppercase;
}
.header-menu-link:hover{
  color: var(--gray-color);
  text-decoration: underline;
}

/* HEADER CONTENT */
.header-img{
  border-radius: 50%;
  box-shadow: 0 0 0 .5em var(--border-color-dark),
              0 0 0 1em var(--border-color-normal),
              0 0 0 1.5em var(--border-color-light);
  height: 15em;
  margin: 2em auto;
  overflow: hidden;
  width: 15em;
}

.header-description{
  margin: auto;
  max-width: 50em
}

.header-title{
  font-size: clamp(1.875rem, 1.2597rem + 2.0725vw, 3.125rem);
  letter-spacing: -.025em;
  line-height: 1.25;
  margin-left: -.0625em;
}

.type-button:after{
  content: " ▬";
  margin-left: .5em;
  vertical-align: .0715em;
}

.header_time {
    font-size: clamp(1.0625rem, 0.7856rem + 0.9326vw, 1.625rem);
}

@media (width <= 1424px) {
    .logo {
        font-size: 20px;
    }
    .header_time {
        font-size: 20px;
    }

    .header-menu {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        width: 100%;
    }
  }

  @media (width <= 1235px) {
    .logo {
        font-size: 16px;
    }
    .header_time {
        font-size: 16px;
    }
  }

@media (width <= 1024px) {
    .header_time {
      margin-top: 10px;
    }

    .header-title {
        padding-top: 60px;
    }

    .logo-link {
        font-size: 20px;
    }

    p {
        font-size: clamp(0.8125rem, 0.7202rem + 0.3109vw, 1rem);
        width: 90%;
    }

    header{
        overflow: hidden;
      } 
      img{
        object-position: 50% 100%;
      }

      .header-menu-link{
        padding: 0 15px;
      }
  }

@media only screen and (min-width: 1024px){ 
  /* CONTAINERS STYLES */
  .container{
    padding: 2em;
  }
  
  /* HEADER NAV */
  .header-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .header-menu-link {
    padding: 0 15px;
  }
  
  /* HEADER CONTENT */
  .header-content{
    position: relative;
  }
  
  .header-img{
    border-radius: 50%;
    box-shadow: 0 0 0 .5em var(--border-color-dark),
                0 0 0 1em var(--border-color-normal),
                0 0 0 1.5em var(--border-color-light);
    height: 25em;
    margin: 2em auto;
    overflow: hidden;
    width: 25em;
  }
  
  .header-description{
    margin: 6em 3em 0;
    max-width: 50vw;
  }
  .header-title{
    font-size: calc(1vw + 2.5em);
  }
}

@media only screen and (orientation: portrait) and (min-height: 1024px){
  .header-content{
    margin-top: 15vh;
  }
}


.content_one {
  display: flex;
  justify-content: center;
  margin: 2em 3em 0;
  font-size: clamp(1rem, 0.5693rem + 1.4508vw, 1.875rem);
  border-bottom: 50px;
}

.content_two {
  border-top: 5px solid;
  margin-top: 50px;
}

.content_three {
  border-top: 5px solid;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card_lots {
  border: #000 2px solid;
}

.card_lots:hover {
  box-shadow: 3px 3px 20px 5px rgba(17, 168, 255, 0.5)
}

.card:hover {
  border: #000 3px solid;
  border-radius: 1%;
}

.card-link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width:clamp(18.75rem, 16.1156rem + 8.8737vw, 26.875rem);
  min-height: clamp(18.75rem, 16.1156rem + 8.8737vw, 26.875rem);
}

.card__title {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-transform: uppercase;
  
}

/* Для текста внутри заголовка */
.card__text {
  display: flex;
  color: #000000;
  font-size: clamp(0.9375rem, 0.8362rem + 0.3413vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  padding: 0px 40px 50px;
}

/* Карточки  добавил фон, задал ширинуи высоту каждому */
.card_lots {
  display: flex;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/car1.png);
}

.card_type_book {
  background-image: url(../images/ritual2.png);
}

.card_type_picture {
  background-image: url(../images/Grob.png);
}
--занимаюсь тут сейчас 
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 100%;
  position: relative;
}

.look__more-link {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 125px;
  padding: 180px 50px 180px 145px;
}

/* выровнил по центру */
.about__column {
  display: inline-flex;
  margin-top: 101px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  flex-shrink: 0;
}

/* Задал размер лого */
.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  max-width: 885px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 25px;
}

.about__text:last-child {
  padding: 0;
}

.header_section_center {
  margin: 3em auto;
  width: 100%;
  text-align: center;
}

.section_one_h4 {
  text-align: center;
}

.content_one_text {
  border: 2px rgb(194, 194, 194) solid;
  border-radius: 1%;
  padding: 10px;
  margin-bottom: 50px;
}

.number_one {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #000;
  font-weight: 900;
  width: 100%;
}

@media (width <= 1024px) {
footer {
  display: flex;
  flex-direction: column;
}
}

.footer_text {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
}