@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

.page {
  background-image: url(../images/fon.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.section_one_header {
  margin-bottom: 0px;
}

/* GLOBAL STYLES */
a{
  text-decoration: none;
  transition: .25s;
}

header{
  min-height: 100vh;
  border-bottom: 5px solid;
}

img{
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

p{
  color: black;
  hyphens: auto;
  line-height: 1.5;
  font-weight: 600;
  margin: 1em 0;
  font-size: clamp(0.9375rem, 0.8687rem + 0.3145vw, 1.25rem);
}

/* CONTAINERS STYLES */
.container{
  padding: 1em;
}
.flex-container{
  display: flex;
}

/* HEADER NAV */
.header-nav{
  align-items: center;
  flex-direction: column;
}
.header-menu{
  flex-wrap: wrap;
  justify-content: center;  
}
.header-menu-link{
  color: var(--dark-color);
  display: block;
  font-size: clamp(0.9375rem, 0.8687rem + 0.3145vw, 1.25rem);
  font-weight: 600;
  text-transform: uppercase;
}
.header-menu-link:hover{
  color: var(--gray-color);
  text-decoration: underline;
}

/* HEADER CONTENT */
.header-img{
  border-radius: 50%;
  box-shadow: 0 0 0 .5em rgb(159, 159, 159),
              0 0 0 1em rgb(219, 221, 222),
              0 0 0 1.5em rgb(159, 159, 159);
  height: 15em;
  margin: 2em auto;
  overflow: hidden;
  width: 15em;
}

.header-description{
  margin: auto;
  max-width: 50em
}

.header-title{
  font-size: clamp(1.875rem, 1.2597rem + 2.0725vw, 3.125rem);
  letter-spacing: -.025em;
  line-height: 1.25;
  margin-left: -.0625em;
}

.type-button:after{
  content: " ▬";
  margin-left: .5em;
  vertical-align: .0715em;
}

.header_time {
  font-size: clamp(0.9375rem, 0.7999rem + 0.6289vw, 1.5625rem);
  line-height: 40px;
}

.header-menu-link:hover {
  color: grey;
}

@media (width <= 1131px) {
    header{
        overflow: hidden;
      } 
      img{
        object-position: 50% 100%;
      }

      .header-menu-link{
        padding: 0 15px;
      }
  }

@media only screen and (min-width: 1124px){ 
  /* CONTAINERS STYLES */
  .container{
    padding: 2em;
  }
  
  /* HEADER NAV */
  .header-nav{
    flex-direction: row;
    justify-content: space-between;
  }
  .header-menu-link {
    padding: 0 15px;
  }
  
  /* HEADER CONTENT */
  .header-content{
    position: relative;
  }
  
  .header-img{
    border-radius: 50%;
    box-shadow: 0 0 0 .5em rgb(159, 159, 159),
              0 0 0 1em rgb(219, 221, 222),
              0 0 0 1.5em rgb(159, 159, 159);
    height: 25em;
    margin: 2em auto;
    overflow: hidden;
    width: 25em;
  }
  
  .header-description{
    margin: 6em 3em 0;
    max-width: 50vw;
  }
  .header-title{
    font-size: calc(1vw + 2.5em);
  }
}

.content_one {
  display: flex;
  justify-content: center;
  margin: 2em 3em 0;
  font-size: clamp(1rem, 0.5693rem + 1.4508vw, 1.875rem);
  border-bottom: 50px;
}

.content_two {
  border-top: 5px solid;
}

.content_three {
  border-top: 5px solid;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card_lots {
  border: #000000 1px solid;
}

.card:hover {
  border: #000 1px solid;
  border-radius: 1px;
}

.card-link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width:clamp(18.75rem, 16.1156rem + 8.8737vw, 26.875rem);
  min-height: clamp(18.75rem, 16.1156rem + 8.8737vw, 26.875rem);
}

.card__title {
  display: flex;
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-transform: uppercase;
  margin: 5px;
}

/* Для текста внутри заголовка */
.card__text {
  display: flex;
  color: #000000;
  font-size: clamp(0.9375rem, 0.8362rem + 0.3413vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  padding: 0px 40px 50px;
}

/* Карточки  добавил фон, задал ширинуи высоту каждому */
.card_lots {
  display: flex;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/car1.png);
}

.card_type_book {
  background-image: url(../images/ritual2.png);
}

.card_type_picture {
  background-image: url(../images/Grob.png);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  min-height: 100%;
  position: relative;
}

.header_section_center, .section_one_h4 {
  margin: 2em auto;
  width: 100%;
  text-align: center;
  border: black 1px solid;
}

.section_number {
  margin-top: 30px;
}

.number_one {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 40px;
  font-size: clamp(1rem, 0.5693rem + 1.4508vw, 1.875rem);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  font-weight: 900;
  width: 100%;
}

@media (width <= 1024px) {
footer {
  display: flex;
  flex-direction: column;
}
}

@media (width <= 690px) {
  .map2 {
    width: 80%;
    min-height: 100%;
  }
}

@media (width <= 490px) {
  .header-menu{
    display: flex;
    flex-direction: row;
  }

  .header-menu-link {
    line-height: 50px;
  }
}

.footer_text {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  text-align: center;
}

.map {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
